@media only screen and (min-width: 600px) {
    body {
      background-color: rgb(207, 128, 128);
    
  }
}
@media only screen and (min-width: 600px) {
    body {
      background-color: rgb(250, 132, 132);
    
  }
}
h1{
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

#Foo{
    align-self: center;
    text-align: center;
     
}
.title{
  font-size: 100%;
  text-align: center;
}

#null{
  text-align: center;
}

h3{
  font-weight: bold;
}

.small{
  font-size: 70%;
}

.center{
  align-self: center;
}
