@media only screen and (min-width: 600px) {
    body {
      background-color: rgba(133, 174, 252, 0.794)
    
  }
}
@media only screen and (min-width: 600px) {
    body {
      background-color: rgba(203, 255, 135, 0.897);
    
  }
}
h1{
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
}

.Foo{
    align-self: center;
    text-align: center;
     
}
.title{
  font-size: 100%;
  text-align: center;
}

#null{
  text-align: left;
}

h3{
  font-weight: bold;
}

.small{
  font-size: 70%;
}

.center{
  align-self: center;
}

.right{
  text-align: justify;
}

.important{
  font-size: 1000%;
  font-weight: bolder;
}

#flex{
  display: inline-flexbox;
}

.Foop{
  object-fit: cover;
}


button{
  color: red;
  background-color: rgb(55, 0, 255);
  border: 10cap;
  width: 200px;
  height: 100px;
 display: block;

}

* {
  margin: 10;
  padding: 10;
  line-break: auto;
}
html,
body,
iframe {
  border-radius: 0 !important;
}



#se{
  color: black;
  text-align: center;
  background-color: rgb(135, 0, 0);
}

#France{
  
.Franceyep{
  width: 100%;
  height: 100%;
}

}

#aboutheauthor{

  p{
    color: black;
    text-align: center;
    background-color: rgb(255, 0, 0);
  }
}
#version{
  font-family: monospace;
  color: black;
}

.contents{
  background-color: cyan;
  text-align: center;
  ul{
    background-color: aqua;
    font-weight: bold;
    li{
      background-color: grey;

  }
}
}

#superbig{
  font-size: 500%;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
}

h2{
  font-size: 20px;
}

iframe{
  border: 10px solid black;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;

}